modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5555
externalPort = 3000

[[ports]]
localPort = 5556
externalPort = 3001

[[ports]]
localPort = 5557
externalPort = 3002

[[ports]]
localPort = 5558
externalPort = 3003

[[ports]]
localPort = 5559
externalPort = 4200

[[ports]]
localPort = 8080
externalPort = 80

[workflows]
runButton = "dev"

[[workflows.workflow]]
name = "dev"
author = 41809027
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
